<!-- <div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
    </div>
  
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
    </div>
  
  </div> -->
<div class="content">
    <div class="row" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card">
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p>{{ longText }}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-footer>
             
            </mat-card-footer>
          </mat-card>
        
          <mat-card class="example-card">
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p>{{ longText }}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-footer>
             
            </mat-card-footer>
          </mat-card>
      </div>
     
</div>
 