<div class="card-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
 
      
     
    
    <mat-card class="mat-card" > 
      
      <!--<img mat-card-image class="home-image" src="../../../assets/images/logo_AirSenegal.jpg" fxFlex="50%">
      -->
 <div class="formulaire">
  <mat-toolbar class="toolbar">
    <!--<img mat-card-avatar
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"align-items="center"
  /> -->
  <mat-card-title class="title-center">
    <span>Nouveau mot de passe</span>
  </mat-card-title>
   
 



  
    
</mat-toolbar>
<form [formGroup]="changePasswordForm" class="form-content" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="changePassword()" novalidate>
    <mat-form-field>
        <input matInput id="password" type="password" formControlName = "password" required minlength="8" maxlength="20" placeholder="Nouveau mot de passe">
          <div class="alert-danger" *ngIf="f['password'].errors && f['password'].touched">
            <div *ngIf="f['password'].errors?.['required']">Le mot de passe est requis.</div>
            <div *ngIf="f['password'].errors?.['minlength']">
              Le mot de passe doit avoir au moins 8 caractères.
            </div>
            <div *ngIf="f['password'].errors?.['maxlength']">
              Le mot de passe doit avoir au plus 20 caractères.
            </div>
          </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput id="password2" type="password" formControlName = "password2" required placeholder="Vérifier le mot de passe">
          <div class="alert-danger" *ngIf="f['password2'].errors && f['password2'].touched">
            <div *ngIf="f['password2'].errors?.['required']">Le mot de passe est requis.</div>
            <div *ngIf="f['password2'].errors?.['confirmValidators']">
              Passwords do not match
            </div>
          </div>
      </mat-form-field>
      <button [disabled]="changePasswordForm.invalid" class="mat-button" mat-raised-button  type="submit">Envoyer</button>
</form>
 </div>
    </mat-card>
</div>