.content {
    margin-top: 0px;
    padding: 0px;
    align-self: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  

}

table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.listeTransactions {
    border-radius: 30px;
    
    float: right;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.button {
    float: right;
}

.field {
    margin-top: 100px;
    background-color: white;
    height: 39px;
}

.paginator {
    margin: auto;
    
}
